@media only screen and (min-width: 56em) {
    /*header*/
	.header-container{
		max-width: 1000px;   
        grid-template-columns: 300px 1fr;     
	}
    nav{
        margin-left: 150px;   
    }
	nav ul li a {
        font-size: 1rem;        
    }
    main p{
        font-size: 17px;
    }
    /*logo*/
    .header-container section{    
        padding: 20px 0 20px 10px;
        width: 235px;
        height: 65px;
        
    }
    .header-container section p:first-child{
        font-size: 48px;
        margin-top: 3px;
    }
    .header-container section div{
        width: 4px;        
    }
    .header-container section p:last-child{
        font-size: 18px;        
    }


    main{        
        max-width: 1000px;        
    }
    h2{
        font-size: 25px;
    }

    /*hero home page*/

    .hero-txt section h1{
        font-size: 30px;        
    }
    .hero-txt section p{
        font-size: 22px;
    }
    .hero-txt .by{
        left: 15px;      
    }


    /*members home page*/
    .members{
        gap:14px;
        margin: 0 14px 55px 0;
    }
    .members h2{        
        margin: 24px 0 10px 0;
    }
    .members section:nth-child(2){
        grid-row: 2/6;
    }
    
    .members section:nth-child(2) div h4{        
        font-size: 22px;
        margin-bottom: 15px;
    }
    .members section:nth-child(2) div p{
        font-size: 17px;
    }
    


    /*memeber 2*/
    .members section:nth-child(3){
        grid-row: 2/3;
        grid-template-columns: 60% 40%;
        margin: 0; 
    }
    .members section:nth-child(3) div{
        margin-right: 10px;
    }
    .members section:nth-child(3) div h4{
        font-size: 22px;
        margin: 10px 0;
        
    }
    .members section:nth-child(3) div p{
        font-size: 16px;
        
    }



    /*member 3*/    
    .members section:nth-child(4){
        grid-template-columns: 40% 60%;
        
    }
    .members section:nth-child(4) div{
        margin-left: 5px;
    }
    .members section:nth-child(4) div h4{
        font-size: 22px;
        margin: 10px 0;
    }
    .members section:nth-child(4) div p{
        font-size: 16px;        
    }
      
    /*memeber 4*/
    .members section:nth-child(5){
        display: grid;
        grid-row: 4/5;
        grid-template-columns: 60% 40%;
        margin: 0;    
        box-shadow: 0px 0px 5px 0px #555;   
    }
    .members section:nth-child(5) img{
        grid-column: 2/3;
    }
    .members section:nth-child(5) div{
        grid-column: 1/2;
        grid-row: 1;
        margin-right: 10px;
        padding: 5px 5px 5px 8px;
    }
    .members section:nth-child(5) div h4{
        margin: 10px 0;
        font-size: 22px;
        text-align: right;
    }
    .members section:nth-child(5) div p{
        margin: 5px 0;
        font-size: 16px;
        text-align: right;
    }

    .members a{
        font-size: 22px;
        padding: 0px;
        margin: 15px auto 15px auto;
        max-width: 400px;    
    }
    .join{
        margin: 30px 0;
    }
    .join a{
        font-size: 22px;
        margin-bottom: 45px;
    }

    .info-container{
        margin: 40px 0;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    
    .forecast section div p:first-child{
        font-size: 18px;
    }
    .forecast section div p:last-child{
        font-size: 14px;   
    }

    .photos{
        margin: 20px 0 40px 0;
        gap: 10px;
    }
    .photos h2{
        margin: 12px 0 15px  0;
        
    }

    /*footer*/
    footer{
        margin-top: 90px;
    }
    .contact{
        max-width: 1000px;
    }
    .contact-information p{
        font-size: 14px;
    }
    
    .contact-information .contact-title{
        font-size: 19px;
    }
    .bottom-info{
        margin: 45px 0 0 0;
        font-size: 14px;
    }
    

    /*storm center
    .sc-container{
        max-width: 750px;
        
    }
    form legend{
        font-size: 1.3rem;   
    }
    form label.top input, form label.top select, form label.top textarea{
       max-width: 350px;       
        
    }
    form input.submitBtn{
        font-size: 1.2rem;
    }


    /*thanks
    .thanks{
        max-width: 750px;   
    }    
    .thanks h4{
        font-size: 1.4rem;
    }
    .thanks p{        
        font-size: 1.1rem;
        margin: 5px 0px 330px 0px;
    }*/

}