img {
    max-width: 100%;
}   
body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #444;  
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", Helvetica, Arial, sans-serif;
  }
h2{
    text-align: center;
    font-size: 1.3rem;
    padding: 0 7px;
}
/*header*/
header{
    margin: 0 auto;
    background-color: #002c5e;
        
}
.header-container{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.header-container a{
    text-decoration: none;
}
.header-container section{    
    margin: 0;
    color: #fff;
    padding: 20px 0 20px 10px;
    display: grid;
    grid-template-columns: 45% 5% 55%;
    width: 200px;
    height: 50px;
    justify-self: start;  
}
.header-container section p:first-child{
    text-align: left;
    margin: 0; 
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 40px;
}
.header-container section div{
    margin: 0;
    width: 3.5px;
    background-color: #41A2FA;
}
.header-container section p:last-child{
    text-align: left;
    margin: 2px 0 0 0;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 70%);
}

/*hamburguer menu*/
.menu{
    font-size: 25px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: #D4AC0D;    
    text-decoration: none;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    
}    
.menu:hover{
    color:#41A2FA;
}



/*nav menu*/
nav {
	background-color: rgba(255, 255, 255, 20%);;
    grid-column: 1/3;
    
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
    display: none;
}
nav ul li a {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
	display: block;
	color: #fff;
	text-align: center;
	padding: 8px;
    text-decoration: none;
	font-size: 16px;
	
}
nav ul li a:hover {
    background-color: rgba(0, 44, 94, 70%);
    
    
	
	
}
.active {
	pointer-events: none;
    background-color: #D4AC0D;
    color: #191919;    
}

.responsive li {
	display: block;
}



/*main*/

 
.hero{
    position: relative;
    text-align: center;
}
.hero-txt section h1{
    position: absolute;
    top: 30px;
    right: 10px;
    left: 10px;
    margin: 0 auto;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}
.hero-txt section p{
    position: absolute;
    top: 70px;
    right: 10px;
    left: 10px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0px 0px 7px #000;
    font-size: 18px;
}
.hero-txt p{
    position: absolute;
    bottom: 10px;
    left: 2px;
    font-size: 12px;
    font-style: italic;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0px 0px 3px #000;
}

main p{
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
}
.photos section{
    position: relative;
}
hr{
    margin: 5px 10px 10px 10px;
}
.photos section h4{
    position: absolute;
    bottom: 25px;
    left: 12px;
    font-size: 18px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}
.photos section p{
    position: absolute;
    bottom: 10px;
    left: 2px;
    font-size: 12px;
    font-style: italic;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0px 0px 3px #000;
}
.photos p{
    margin: 2px 0px 18px 0px;
}
.members{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}
.members section{
    background-color: rgba(0, 44, 94, 20%);
    margin: 0 5px;
    display: grid;
    grid-template-columns: 60% 40%;
}
.members section div{
    text-align: center;
    margin: 0;
    padding: 5px;
}
.members section div h4{
    margin: 8px 0 10px 0;
}
.members section div p{
    padding: 0;
    font-size: 12px;
    margin: 8px 0;
}
.members section:nth-child(3){
    background-color: rgba(0, 44, 94, 20%);
    margin: 0 5px;
    display: grid;
    grid-template-columns: 40% 60%;
}
.members section:nth-child(3) img{
    grid-column: 2/3;
}
.members section:nth-child(3) div{
    grid-column: 1/2;
    grid-row: 1;
}
.members span{
    text-align: center;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px 20px 15px 20px;
    background-color: #41a2fa;
    box-shadow: 0px 0px 5px 1px #000;
}
.join{
    text-align: center;
}
.join p{
    margin-bottom: 25px;
}
.join span{
    display: block;
    text-align: center;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px;
    margin-bottom: 30px;
    background-color: #D4AC0D;
    box-shadow: 0px 0px 5px 1px #000;
}
.current-weather{
    margin: 40px 5px 20px 5px;
    background-color: rgba(0, 44, 94, 20%);
}
.current-weather section{
    padding: 5px;
}

.forecast{
    margin: 20px 5px;
}
.forecast h2{
    margin-bottom: 10px;
}
.forecast section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;    
}
.forecast section div{
    background-color: rgba(0, 44, 94, 20%);
    text-align: center;
}

.exchange{
    margin: 20px 5px;
    background-color: rgba(0, 44, 94, 20%);
}
.exchange section{
    padding: 5px;
}

.events{
    margin: 20px 5px;
    background-color: rgba(0, 44, 94, 20%);
}
.events section{
    padding: 5px;
}


/*footer*/
footer{
    margin-top: 50px;
    background-color: #191919;
    
}
.contact{
    padding: 15px;
}

.contact-information p{
    margin: 10px 0;
    color: #fff;
    font-size: 13px;

}

.contact-information .contact-title{
    font-size: 18px;
    color: #41A2FA;
    margin: 15px 0;
}

.social-media{
    margin: 15px 0;
}
.social-media a img{
    margin: 0 5px 0 0;
    
}
.bottom-info{
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 70%);
}
.bottom-info p{
    margin: 2px 0;
}



